@model FrontEnd.Pages.Components.Cart.MenuViewModel
<div class="dropdown dropdown-mega d-none d-lg-block ms-4">
	<button type="button" class="btn header-item waves-effect" style="font-size: 18px;" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false" key="t-megamenu">
		Products <i class="mdi mdi-chevron-down"></i> 
	</button>
	<div class="dropdown-menu dropdown-megamenu">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					@foreach (var category in Model.ProductCategoryList)
					{
					<div class="col-md-2">
						<a asp-route-name="@category.ShortName" asp-page="/Products/Index"><h5 class="font-size-14">@category.Name</h5></a>
						<ul class="list-unstyled megamenu-list">
							@foreach (var subcategory in Model.ProductSubcategoryList.Where(u=>u.ProductCategoryId == category.Id))
							{
								<li>
									<a asp-route-name="@subcategory.ShortName" asp-page="/Products/Index">@subcategory.Name</a>
								</li>
							}
						</ul>						
					</div>					
					}
				</div>
			</div>			
		</div>
	</div>
</div>