@using BackEnd.Model
@model IEnumerable<ProductSubcategory>
<div class="dropdown dropdown-mega d-none d-lg-block ms-4">
	<button type="button" class="btn header-item waves-effect" style="font-size: 18px;" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false" key="t-megamenu">
		Products <i class="mdi mdi-chevron-down"></i> 
	</button>
	<div class="dropdown-menu dropdown-megamenu">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					@foreach (var item in Model)
					{
					<div class="col-md-2">
						<h5 class="font-size-14">@item.ProductCategory.Name</h5>
						<ul class="list-unstyled megamenu-list">
							
							<li> <a asp-route-id="@item.Id" asp-page="/Products/Index">@item.Name</a>
							</li>
							
						</ul>
					</div>
					}
				</div>
			</div>			
		</div>
	</div>
</div>