@page
@model FrontEnd.Pages.Discounts.DeleteModel
<form method="post">
    <input hidden asp-for="Discount.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Discount.Name"></label>
            <input asp-for="Discount.Name" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
