@page
@model FrontEnd.Pages.OrderDetails.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Order</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.ApplicationUserId"></label>
            <select asp-for="OrderDetail.ApplicationUserId" asp-items="Model.ApplicationUserList" class="form-select">
                <option disabled selected>--Select User--</option>
            </select>
        </div>        
        <div class="mb-3">
            <label asp-for="OrderDetail.Subtotal"></label>
            <input asp-for="OrderDetail.Subtotal" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.Total"></label>
            <input asp-for="OrderDetail.Total" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.DeliveryDate"></label>
            <input asp-for="OrderDetail.DeliveryDate" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.DeliveryType"></label>
            <input asp-for="OrderDetail.DeliveryType" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.Status"></label>
            <input asp-for="OrderDetail.Status" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.Tax"></label>
            <input asp-for="OrderDetail.Tax" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.DiscountCode"></label>
            <select asp-for="OrderDetail.DiscountCode" asp-items="Model.DiscountList" class="form-select">
                <option disabled selected>--Select Discount--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
