@page
@model FrontEnd.Pages.OrderDetails.DeleteModel
<form method="post">
    <input hidden asp-for="OrderDetail.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete Order</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.Id"></label>
            <input asp-for="OrderDetail.Id" disabled class="form-control"/>
        </div>       
        <div class="mb-3">
            <label asp-for="OrderDetail.Subtotal"></label>
            <input asp-for="OrderDetail.Subtotal" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="OrderDetail.Total"></label>
            <input asp-for="OrderDetail.Total" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
