@page
@model FrontEnd.Pages.Sites.EditModel

<form method="post">
    <input hidden asp-for="Site.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit Site</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Site.Name"></label>
            <input asp-for="Site.Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Site.Address"></label>
            <input asp-for="Site.Address" class="form-control"/>
        </div> 
        <div class="mb-3">
            <label asp-for="Site.ScheduleDay"></label>
            <input asp-for="Site.ScheduleDay" class="form-control"/>
        </div> 
        <div class="mb-3">
            <label asp-for="Site.ScheduleHour"></label>
            <input asp-for="Site.ScheduleHour" class="form-control"/>
        </div> 
        <div class="mb-3">
            <label asp-for="Site.Phone"></label>
            <input asp-for="Site.Phone" class="form-control"/>
        </div> 
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
