@page
@model FrontEnd.Pages.UserPayments.DeleteModel
<form method="post">
    <input hidden asp-for="UserPayment.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete User Payment</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="UserPayment.PaymentType"></label>
            <input asp-for="UserPayment.PaymentType" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserPayment.Provider"></label>
            <input asp-for="UserPayment.Provider" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserPayment.CCNumber"></label>
            <input asp-for="UserPayment.CCNumber" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserPayment.ExpirationDate"></label>
            <input asp-for="UserPayment.ExpirationDate" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserPayment.SecurityCode"></label>
            <input asp-for="UserPayment.SecurityCode" disabled class="form-control"/>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
