@page
@model FrontEnd.Pages.Reviews.CreateModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Create Review</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Review.ApplicationUserId"></label>
            <select asp-for="Review.ApplicationUserId" asp-items="Model.ApplicationUserList" class="form-select">
                <option disabled selected>--Select User--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Review.ProductId"></label>
            <select asp-for="Review.ProductId" asp-items="Model.ProductList" class="form-select">
                <option disabled selected>--Select Product--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="Review.Title"></label>
            <input asp-for="Review.Title" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Review.Body"></label>
            <textarea asp-for="Review.Body" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="Review.Rating"></label>
            <select asp-for="Review.Rating" asp-items="Model.RatingList" class="form-select">
                <option disabled selected>--Select Rating--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
