@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
                    
}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            @await Component.InvokeAsync("Carousel")
        </div>
    </div>
</div>


