@page
@model FrontEnd.Pages.UserAddresses.DeleteModel
<form method="post">
    <input hidden asp-for="UserAddress.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete User Address</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="UserAddress.AddressLine1"></label>
            <input asp-for="UserAddress.AddressLine1" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserAddress.AddressLine2"></label>
            <input asp-for="UserAddress.AddressLine2" disabled class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UserAddress.City.Name"></label>
            <input asp-for="UserAddress.City.Name" disabled class="form-control"/>
        </div> 
        <div class="mb-3">
            <label asp-for="UserAddress.Phone"></label>
            <input asp-for="UserAddress.Phone" disabled class="form-control"/>
        </div>   
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
