@page
@model FrontEnd.Pages.OrderHeaders.EditModel

<form method="post">
    <input hidden asp-for="OrderHeader.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Edit OrderHeader</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.ApplicationUserId"></label>
            <select asp-for="OrderHeader.ApplicationUserId" asp-items="Model.ApplicationUserList" class="form-select">
                <option disabled selected>--Select User--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.Subtotal"></label>
            <input asp-for="OrderHeader.Subtotal" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.Shipping"></label>
            <input asp-for="OrderHeader.Shipping" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.Total"></label>
            <input asp-for="OrderHeader.Total" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.DeliveryType"></label>
            <input asp-for="OrderHeader.DeliveryType" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.DeliveryDate"></label>
            <input asp-for="OrderHeader.DeliveryDate" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.PaymentType"></label>
            <input asp-for="OrderHeader.PaymentType" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.Status"></label>
            <input asp-for="OrderHeader.Status" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.SessionId"></label>
            <input asp-for="OrderHeader.SessionId" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.SiteId"></label>
            <select asp-for="OrderHeader.SiteId" asp-items="Model.SiteAddressList" class="form-select">
                <option disabled selected>--Select Address--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.UserAddressId"></label>
            <select asp-for="OrderHeader.UserAddressId" asp-items="Model.UserAddressList" class="form-select">
                <option disabled selected>--Select Address--</option>
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="OrderHeader.DiscountCode"></label>
            <select asp-for="OrderHeader.DiscountCode" asp-items="Model.DiscountList" class="form-select">
                <option disabled selected>--Select Order Discount--</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back To List</a>
    </div>
</form>
