<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FrontEnd</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FrontEnd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">-->
    <!-- App favicon -->
	<link rel="shortcut icon" href="~/images/favicon.ico">
    <!--Extra Css-->
	@await RenderSectionAsync("Styles", required: false)
	<!-- Bootstrap Css -->
	<link href="~/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
	<!-- Icons Css -->
	<link href="~/css/icons.min.css" rel="stylesheet" type="text/css" />
	<!-- App Css-->
	<link href="~/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="layout-wrapper">
		<header id="page-topbar">
			<div class="navbar-header" style="background-color: #0071CE;">
				<div class="d-flex">
					<div class="navbar-brand-box" style="background-color: #0071CE;">
						<a asp-page="/Index" class="logo">
							<img src="~/images/logo-light.png" alt="logo-light">  
						</a>                    
					</div>
					<div class="dropdown dropdown-mega d-none d-lg-block ms-4">
						<button type="button" class="btn header-item waves-effect" style="font-size: 18px;" data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false" key="t-megamenu">Mega Menu <i class="mdi mdi-chevron-down"></i> 
						</button>
						<div class="dropdown-menu dropdown-megamenu">
							<div class="row">
								<div class="col-sm-8">
									<div class="row">
										<div class="col-md-4">
											<h5 class="font-size-14">UI Components</h5>
											<ul class="list-unstyled megamenu-list">
												<li> <a class="dropdown-item" asp-area="" asp-page="/Provinces/Index">Province</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/Cantons/Index">Canton</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/Cities/Index">City</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/UserAddresses/Index">User Address</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/UserPayments/Index">User Payment</a>
												</li>
												<li> <a href="javascript:void(0);">Tables</a>
												</li>
												<li> <a href="javascript:void(0);">Charts</a>
												</li>
											</ul>
										</div>
										<div class="col-md-4">
											<h5 class="font-size-14">Applications</h5>
											<ul class="list-unstyled megamenu-list">
												<li> <a class="dropdown-item" asp-area="" asp-page="/ProductCategories/Index">Product Category</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/Products/Index">Product</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/Discounts/Index">Discount</a>
												</li>
												<li> <a class="dropdown-item" asp-area="" asp-page="/Reviews/Index">Review</a>
												</li>
												<li> <a href="javascript:void(0);">Tasks</a>
												</li>
												<li> <a href="javascript:void(0);">Contacts</a>
												</li>
											</ul>
										</div>
										<div class="col-md-4">
											<h5 class="font-size-14">Extra Pages</h5>
											<ul class="list-unstyled megamenu-list">
												<li> <a href="javascript:void(0);">Light Sidebar</a>
												</li>
												<li> <a href="javascript:void(0);">Compact Sidebar</a>
												</li>
												<li> <a href="javascript:void(0);">Horizontal layout</a>
												</li>
												<li> <a href="javascript:void(0);">Maintenance</a>
												</li>
												<li> <a href="javascript:void(0);">Coming Soon</a>
												</li>
												<li> <a href="javascript:void(0);">Timeline</a>
												</li>
												<li> <a href="javascript:void(0);">FAQs</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-6">
											<h5 class="font-size-14">UI Components</h5>
											<ul class="list-unstyled megamenu-list">
												<li> <a asp-page="/Products/Breakfast_Cereal/Index">Breakfast & Cereal</a>
												</li>
												<li> <a href="javascript:void(0);">Range Slider</a>
												</li>
												<li> <a href="javascript:void(0);">Sweet Alert</a>
												</li>
												<li> <a href="javascript:void(0);">Rating</a>
												</li>
												<li> <a href="javascript:void(0);">Forms</a>
												</li>
												<li> <a href="javascript:void(0);">Tables</a>
												</li>
												<li> <a href="javascript:void(0);">Charts</a>
												</li>
											</ul>
										</div>
										<div class="col-sm-5">
											<div>
												<img src="{% static 'images/megamenu-img.png' %}" alt="megamenu-img" class="img-fluid mx-auto d-block">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<form class="app-search d-none d-lg-block">
						<div class="position-relative">
							<input type="text" class="form-control" placeholder="Search..."> <span class="ri-search-line"></span>
						</div>
					</form>                    
				</div>
				<div class="d-flex">
					<div class="dropdown d-inline-block d-lg-none ms-2">
						<button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ri-search-line"></i>
						</button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-search-dropdown">
							<form class="p-3">
								<div class="mb-3 m-0">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search ...">
										<div class="input-group-append">
											<button class="btn btn-primary" type="submit"><i class="ri-search-line"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="dropdown d-inline-block">
						<button type="button" class="btn header-item noti-icon waves-effect" style="padding:14px 28px" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-shopping-cart-fill"></i>
							<span class="noti-dot">15</span>
						</button>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
							<div class="p-3">
								<div class="row align-items-center">
									<div class="col">
										<h6 class="m-0"> Cart Items </h6>
									</div>
									<div class="col-auto"> <a asp-page="/Cart/Index" class="small"> View All</a>
									</div>
								</div>
							</div>
							<div data-simplebar style="max-height: 230px;">
								<a href="" class="text-reset notification-item">
									<div class="d-flex">
										<div class="avatar-xs me-3"> <span class="avatar-title bg-primary rounded-circle font-size-16">
													<i class="ri-shopping-cart-line"></i>
												</span>
										</div>
										<div class="flex-1">
											<h6 class="mb-1" key="t-your-order">Your order is placed</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">If several languages coalesce the grammar</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline" key="t-min-ago"></i> 3 min ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href="" class="text-reset notification-item">
									<div class="d-flex">
										<img src="" class="me-3 rounded-circle avatar-xs" alt="user-pic">
										<div class="flex-1">
											<h6 class="mb-1">James Lemire</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">It will seem like simplified English.</p>
												<p class="mb-0"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href="" class="text-reset notification-item">
									<div class="d-flex">
										<div class="avatar-xs me-3"> <span class="avatar-title bg-success rounded-circle font-size-16">
													<i class="ri-checkbox-circle-line"></i>
												</span>
										</div>
										<div class="flex-1">
											<h6 class="mb-1">Your item is shipped</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">If several languages coalesce the grammar</p>
												<p class="mb-0" key="t-min-ago"><i class="mdi mdi-clock-outline"></i> 3 min ago</p>
											</div>
										</div>
									</div>
								</a>
								<a href="" class="text-reset notification-item">
									<div class="d-flex">
										<img src="" class="me-3 rounded-circle avatar-xs" alt="user-pic">
										<div class="flex-1">
											<h6 class="mb-1">Salena Layfield</h6>
											<div class="font-size-12 text-muted">
												<p class="mb-1">As a skeptical Cambridge friend of mine occidental.</p>
												<p class="mb-0" key="t-hours-ago"><i class="mdi mdi-clock-outline"></i> 1 hours ago</p>
											</div>
										</div>
									</div>
								</a>
							</div>							
						</div>
					</div>
					<partial name="_LoginPartial"/>			
				</div>          
			</div>
		</header> 
	</div>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">FrontEnd</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-page="/Provinces/Index">Province</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Cantons/Index">Canton</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Cities/Index">City</a>
                                <a class="dropdown-item" asp-area="" asp-page="/UserAddresses/Index">User Address</a>
                                <a class="dropdown-item" asp-area="" asp-page="/UserPayments/Index">User Payment</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Products</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-area="" asp-page="/ProductCategories/Index">Product Category</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Products/Index">Product</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Discounts/Index">Discount</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Reviews/Index">Review</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>  
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
                            <div class="dropdown-menu">   
                                <a class="dropdown-item" asp-area="" asp-page="/OrderDetails/Index">Order</a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </li>    
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>-->
    <div class="main-content">
		<div class="page-content">
			<div class="container-fluid">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>        
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script>© GADAFA Solutions</div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block"></div>
                </div>
            </div>
        </div>
    </footer>
    <!--JAVASCRIPT-->
    <script src="~/libs/jquery/jquery.min.js"></script>
	<script src="~/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="~/libs/metismenu/metisMenu.min.js"></script>
	<script src="~/libs/simplebar/simplebar.min.js"></script>
	<script src="~/libs/node-waves/waves.min.js"></script>
    <!--Extra Javascript-->
	@await RenderSectionAsync("Scripts", required: false)
	<!-- App js -->
	<script src="~/js/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    
</body>
</html>