@page
@model FrontEnd.Pages.Cart.SummaryModel
@section Styles {
   @{
	<partial name="_CheckoutStylesPartial"/>
    }
}
<div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div id="checkout-nav-pills-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a href="#billing-info" class="nav-link" data-toggle="tab">
                                        <span class="step-number">01</span>
                                        <span class="step-title">Billing Info</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#shipping-info" class="nav-link" data-toggle="tab">
                                        <span class="step-number">02</span>
                                        <span class="step-title">Shipping Info</span>
                                    </a>
                                </li>
                            
                                <li class="nav-item">
                                    <a href="#payment-info" class="nav-link" data-toggle="tab">
                                        <span class="step-number">03</span>
                                        <span class="step-title">Payment Info</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content twitter-bs-wizard-tab-content">
                                <div class="tab-pane" id="billing-info">
                                    <h5 class="card-title">Billing information</h5>
                                    <p class="card-title-desc">If several languages coalesce, the grammar of the resulting</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="reviews.html" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 1</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>                                                                    
                                                                        
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>   
                                            </div>                                                              
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="#" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 2</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="#" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 2</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="card-title">Add new billing address</h5>
                                    <br>
                                    <form>
                                        <div>
                                            <div>                                                                    
                                                <div class="form-group mb-4">
                                                    <label for="billing-address">Address</label>
                                                    <textarea class="form-control" id="billing-address" rows="3" placeholder="Enter full address"></textarea>
                                                </div>

                                                <div class="row">                                                                        
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4">
                                                            <label for="billing-name">Name</label>
                                                            <input type="text" class="form-control" id="billing-name" placeholder="Enter name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4">
                                                            <label for="billing-phone">Phone</label>
                                                            <input type="text" class="form-control" id="billing-phone" placeholder="Enter Phone no." />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label>Province</label>
                                                            <select class="form-control custom-select" title="Country">
                                                                                    
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                                   
                            
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label>City</label>
                                                            <select class="form-control custom-select" title="Country">                                                                                    
                                                            </select>
                                                        </div>
                                                    </div>
                            
                                                    <div class="col-lg-4 mb-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label for="billing-city">Canton</label>
                                                            <input type="text" class="form-control" id="billing-city" placeholder="Enter City" />
                                                        </div>
                                                    </div>
                            
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-0">
                                                            <label for="zip-code">Zip / Postal code</label>
                                                            <input type="text" class="form-control" id="zip-code" placeholder="Enter Postal code" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="shipping-info">
                                    <h5 class="card-title">Shipping information</h5>
                                    <p class="card-title-desc">It will be as simple as occidental in fact</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="reviews.html" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 1</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>                                                                    
                                                                        
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>   
                                            </div>                                                              
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="#" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 2</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="card shipping-address">
                                                <div class="card-body">
                                                    <a href="#" class="float-right ml-1">Edit</a>
                                                    <h5 class="font-size-14 mb-4">Address 2</h5>
                            
                                                    <h5 class="font-size-14">Bradley McMillian</h5>
                                                    <p class="mb-1">109 Clarksburg Park Road Show Low, AZ 85901</p>
                                                    <p class="mb-0">Mo. 012-345-6789</p>
                                                    <button class="btn btn-sm btn-warning text-dark w-xs mt-2">Use Address</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h5 class="card-title">Add new shipping address</h5>
                                    <br>
                                    <form>
                                        <div>
                                            <div>                                                                    
                                                <div class="form-group mb-4">
                                                    <label for="billing-address">Address</label>
                                                    <textarea class="form-control" id="billing-address" rows="3" placeholder="Enter full address"></textarea>
                                                </div>

                                                <div class="row">                                                                        
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4">
                                                            <label for="billing-name">Name</label>
                                                            <input type="text" class="form-control" id="billing-name" placeholder="Enter name" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4">
                                                            <label for="billing-phone">Phone</label>
                                                            <input type="text" class="form-control" id="billing-phone" placeholder="Enter Phone no." />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label>Province</label>
                                                            <select class="form-control custom-select" title="Country">
                                                                                    
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                                   
                            
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label>City</label>
                                                            <select class="form-control custom-select" title="Country">                                                                                    
                                                            </select>
                                                        </div>
                                                    </div>
                            
                                                    <div class="col-lg-4 mb-4">
                                                        <div class="form-group mb-4 mb-lg-0">
                                                            <label for="billing-city">Canton</label>
                                                            <input type="text" class="form-control" id="billing-city" placeholder="Enter City" />
                                                        </div>
                                                    </div>
                            
                                                    <div class="col-lg-4">
                                                        <div class="form-group mb-0">
                                                            <label for="zip-code">Zip / Postal code</label>
                                                            <input type="text" class="form-control" id="zip-code" placeholder="Enter Postal code" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="payment-info">
                                    <h5 class="card-title">Payment information</h5>
                                    <p class="card-title-desc">It will be as simple as occidental in fact</p>
                            
                                    <div>
                                        <h5 class="font-size-14">Payment method :</h5>
                            
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label mb-3">
                                                        <input type="radio" name="pay-method" id="pay-methodoption1" class="card-radio-input" />
                            
                                                        <div class="card-radio">
                                                            <i class="fab fa-cc-mastercard font-size-24 align-middle me-2"></i>
                                                            <span>Credit / Debit Card</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-4 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label mb-3">
                                                        <input type="radio" name="pay-method" id="pay-methodoption2" class="card-radio-input" />
                            
                                                        <div class="card-radio">
                                                            <i class="fas fa-mobile-alt font-size-24 align-middle me-2"></i>
                                                            <span>SINPE Móvil</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                            
                                            <div class="col-lg-4 col-sm-6">
                                                <div>
                                                    <label class="card-radio-label mb-3">
                                                        <input type="radio" name="pay-method" id="pay-methodoption3" class="card-radio-input" checked />
                            
                                                        <div class="card-radio">
                                                            <i class="far fa-money-bill-alt font-size-24 align-middle me-2"></i>
                                                            <span>Cash on Delivery</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                            
                                        <h5 class="my-3 font-size-14">For card Payment</h5>
                                        <div class="p-4 border">
                                            <form>
                                                <div class="mb-3">
                                                    <label class="form-label" for="cardnameInput">Name on card</label>
                                                    <input type="text" class="form-control" id="cardnameInput" placeholder="Name on Card" />
                                                </div>
                            
                                                <div class="row">
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="cardnumberInput">Card Number</label>
                                                            <input type="text" class="form-control" id="cardnumberInput" placeholder="0000 0000 0000 0000" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="expirydateInput">Expiry date</label>
                                                            <input type="text" class="form-control" id="expirydateInput" placeholder="MM/YY" />
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-sm-6">
                                                        <div class="mb-3 mb-lg-0">
                                                            <label class="form-label" for="cvvcodeInput">CVV Code</label>
                                                            <input type="text" class="form-control" id="cvvcodeInput" placeholder="Enter CVV Code" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="mt-4 text-end">
                                            <a href="#" class="btn btn-success">
                                                Complete order
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <ul class="pager wizard twitter-bs-wizard-pager-link">
                                <li class="previous"><a href="#">Previous</a></li>
                                <li class="next"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card checkout-order-summary">
                    <div class="card-body">
                        <div class="p-3 bg-light mb-4">
                            <h5 class="font-size-14 mb-0">Order Summary <span class="float-right ml-2">#SK2356</span></h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-centered mb-0 table-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0" style="width: 110px;" scope="col">Product</th>
                                        <th class="border-top-0" scope="col">Product Desc</th>
                                        <th class="border-top-0" scope="col">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"><img src="static/images/product/img-1.png" alt="product-img" title="product-img" class="avatar-md" /></th>
                                        <td>
                                            <h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-dark">Full sleeve T-shirt</a></h5>
                                            <p class="text-muted mb-0">$ 240 x 2</p>
                                        </td>
                                        <td>$ 480</td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><img src="static/images/product/img-2.png" alt="product-img" title="product-img" class="avatar-md" /></th>
                                        <td>
                                            <h5 class="font-size-14 text-truncate"><a href="ecommerce-product-detail.html" class="text-dark">Half sleeve T-shirt</a></h5>
                                            <p class="text-muted mb-0">$ 225 x 1</p>
                                        </td>
                                        <td>$ 225</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h6 class="m-0 text-right">Sub Total:</h6>
                                        </td>
                                        <td>
                                            $ 705
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div class="bg-soft-primary p-3 rounded">
                                                <h5 class="font-size-14 text-primary mb-0"><i class="fas fa-shipping-fast mr-2"></i> Shipping <span class="float-right">Free</span></h5>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h6 class="m-0 text-right">Total:</h6>
                                        </td>
                                        <td>
                                            $ 705
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
   @{
	<partial name="_CheckoutScriptsPartial"/>
    }
}