@page
@model FrontEnd.Pages.Cart.OrderConfirmationModel
<div class="container row">
    <div class="col-12 text-center mb-5">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is : <br /><br />
    </div>
    <br />
    <br />
    <div class="col-12 text-center mt-5" style="color:maroon">
        <br />
        Your order has been placed successfully! <br />
    </div>
</div> 
